* {
    box-sizing: border-box;
    margin: 0;
   
}

html, body {
    color: #656565;
}

/* header section HS*/

.shipping {
    background-color: #0a872f;
    color: #fff;
    display: block;
    text-align: center;
    font-size: 9px;
    padding-top: 1px;
    box-sizing: border-box;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 90;
}

.HSheaderBar {
    display: block;
    border-bottom: 1px solid #0a872f;   
}

.HSnavBar {
    width: 80vw;
    position: static; 
    margin: 0 auto;
    display: flex; /*display inline*/
}

.HSnavlist {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0.5rem;
    flex-grow: 2;
    font-size: 12px;
    align-items: center;
    font-weight: 90;
    letter-spacing: 1px;
    font-family: 'Questrial', sans-serif;
}

.HScrioBruPicture {
    text-align: left;
    padding-right: 10rem;
}


.hsListPading {
    padding: 2%;

}

.hsListPading >a {
    text-decoration: none; /*took the underline from the words*/
}

/* main body*/
.MBimagestack {
    display: grid;
} /* this got rid of the space between the images */

.MBimgsblank {
    width: 100%;
    height: 25rem;    
}

.MBnotcoffee {
    color: #612800;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    width: auto;
    display: block;
    letter-spacing: 2px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue', cursive; 
    padding-bottom: 100px;
}

.MBimgsflavors {
    width: 100%;   
}

.BBgrid {
    width: 100%;
    height: 25rem; 
    position: relative;
    }
    
 .BBintroduction {
    padding-top: 1.5rem;
    color: #632A00;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    width: auto;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}

.BBinfo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 90px;
    padding-right: 90px;
    color: #000000;
    
}

.BBnongmo {
    padding-top: 50px;
    margin-left: 20%;
    width: 70%;
    
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.reader {
    width: 100%;  
    height: auto; 
}

.digest {
    width: 100%;  
    height: auto; 
}

.chow {
    width: 100%;  
    height: auto; 
}

/* best seller */

.bestSellers {
    padding-top: 80px;
    padding-bottom: 40px;
    color: #632A00;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    width: auto;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    
}

.bestSettlerSection {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    text-align: center;
}

.bestSellerPics {
    width: 70%;  
    height: 192px;
}

.bestSellerAlign {
    text-align: center;
    color: #585E71;
    font-family: 'Questrial';
}


/* limited edition */

.limitedEdition{
    padding-top: 80px;
    padding-bottom: 40px;
    color: #632A00;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    width: auto;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
  
    
}

.limitedEditionSection {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    text-align: center;
}

.limitedEditionPics {
    width: 60%;  
    height: 197px;
}

.limitedEditionAlign {
    text-align: center;
    color: #585E71;
    font-family: 'Questrial';
}


/* wavy background section have not looked at yet */

.do {
    position: relative;
}
.wavyBG {
    position: relative;
    top: 0;
    left: 0;
}
.table  {
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
}

.bottomCacaoImg {
    position: absolute;
    top: 400px;
    left: 200px;
    z-index: 1;
    width: 200px;
    height: auto;
}

.words {
    position: absolute;
    top: 400px;
    left:500px;
    z-index: 1;
    width: 200px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.wavyBackground {
    position: relative;
    padding-top: 80px;
    display: grid;
    width: 100%;
    height: auto;
    top: 30px;
    bottom: 30px;
}

.bpimage {
    width: 100%;
    height: auto;
    display: grid;
}


/* bottom of page at some point since this page goes on forever */
.bottom {
    margin: 30px;
}

@media (max-width: 750px){
    html {
        font-size: 12px;
    }
    .HSnavlist {
        display:none;
    }

}
